/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
 }

.container {
    text-align: center;
}

.image {
    position: relative;
    width: 100%;
    max-width: 200px; 
    margin: 0 auto;
}

.image img {
    width: 100%;
    border-radius: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    padding: 0px;

}

.text {
    font-size: 26px;
    font-weight: 800;
    margin: 10px 0 50px 0;
    color: #383838;
}

button {
    padding: 15px 80px;
    font-size: 20px;
    font-weight: 600;
    background-color: #5b007d;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

button:hover {
    background-color: #330045;
}
 */



body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }

  
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2a2a2a;
    text-align: center;
  }
  
  .image img {
    width: 150px;
    height: auto;
    padding: 20px;
    border-radius: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    background-color: rgb(59, 59, 59);
  }
  
  .text {
    margin: 20px 0 50px 0;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
  }
  
  button {
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #ffe600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  
  button:hover {
    background-color: #978800;
  }
  